<div class="adapter item-remove-adapter" style="@Style">
    <div class="adapter-buttons top-adapter">
        <div class="adapter-icon-container" @onclick="OnBtnDeleteClick">
            <i class="fa-solid fa-xmark close-button" ></i>
        </div>      
    </div>
</div>
