<div class="adapter item-adapter" style="@Style">
    <div class="adapter-buttons down-adapter">
        <div class="adapter-icon-container" @onclick="OnBtnPreviewClick">
            <i class="fa-solid fa-expand"></i>
        </div>
        <div class="adapter-icon-container" @onclick="OnBtnEditClick">
            <i class="fa-solid fa-pen"></i>
        </div>
        <div class="adapter-icon-container" @onclick="OnBtnDeleteClick">
            <i class="fa-solid fa-trash-can"></i>
        </div>
    </div>
</div>
