<Modal @ref="Modal" IsFullScreen="true" Class="bg-transparent">
    <div class="modal-component-form col-lg-10 offset-lg-1 modal-images">

        <div class="modal-form-body form-imagefile">
            <div class="modal-section">
                <div class="modal-top-close">
                    <i class="fa-solid fa-xmark close-button" @onclick="Close"></i>
                </div>
                <div class="modal-image-container">
                    <img src="@Image" />
                </div>
            </div>

        </div>

    </div>

</Modal>
