
<div class="@CssOverlay"></div>
<div class="@ModalClass " tabindex="-1" style="@ModalStyle">
    <div class="modal-dialog modal-content @Class @FullSreen " style="@Style">
        <div class="">
            @ChildContent
        </div>
    </div>
</div>