
<div class="select-container">
    <label class="lb-select">@Tittle</label>

    <SelectItems Class="select-items" OptionClass="select-item" Items="Items" OnSelectValueChanged="SelectItem_ValueChanged"  SelectedItem="@Selected"></SelectItems>
    

</div>