<div class="tooltip-element @Css" tabindex="0" style="--width: @Width">
    <div class="editable-component-content">
        @ChildContent
    </div>
    <div class="options-panel" style="@optionsPanelStyle">
        <i class="fa-solid fa-trash-can Icon-button " @onclick="DeleteElement"></i>
        <i class="fa-solid fa-pen Icon-button" @onclick="EditElement"></i>
    </div>
</div>